@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans"), local("OpenSans"), url("../assets/fonts/opensans.woff2") format("woff2"), url("../assets/fonts/opensans.woff") format("woff"), url("../assets/fonts/opensans.ttf") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Italic"), local("OpenSans-Italic"), url("../assets/fonts/opensansitalic.woff2") format("woff2"), url("../assets/fonts/opensansitalic.woff") format("woff"), url("../assets/fonts/opensansitalic.ttf") format("truetype");
  font-weight: 400;
  font-style: italic; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("../assets/fonts/opensanssemibold.woff2") format("woff2"), url("../assets/fonts/opensanssemibold.woff") format("woff"), url("../assets/fonts/opensanssemibold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal; }

@font-face {
  font-family: 'Open Sans';
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("../assets/fonts/opensansbold.woff2") format("woff2"), url("../assets/fonts/opensansbold.woff") format("woff"), url("../assets/fonts/opensansbold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'Champagne & Limousines';
  src: url("../assets/fonts/ChampagneLimousines-Bold.woff2") format("woff2"), url("../assets/fonts/ChampagneLimousines-Bold.woff") format("woff"), url("../assets/fonts/ChampagneLimousines-Bold.ttf") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Proxima Nova';
  src: url("../assets/fonts/ProximaNova-Extrabld.woff2") format("woff2"), url("../assets/fonts/ProximaNova-Extrabld.woff") format("woff"), url("../assets/fonts/ProximaNova-Extrabld.ttf") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'Freestyle Script';
  src: url("../assets/fonts/FreestyleScript-Regular.woff2") format("woff2"), url("../assets/fonts/FreestyleScript-Regular.woff") format("woff"), url("../assets/fonts/FreestyleScript-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal; }

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: "Open Sans", sans-serif, Arial;
  font-size: 18px; }

.clearfix:after {
  content: "";
  display: table;
  clear: both; }

.container {
  width: 1170px;
  margin: 0 auto; }

.header {
  position: fixed;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  padding: 40px 0;
  font-weight: 600;
  font-size: 14px;
  background: #fff; }
  .header__logo {
    position: absolute;
    top: 16px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0); }
  .header__navigation {
    width: 810px;
    margin: 0 auto; }
  .header__item {
    list-style: none;
    display: inline-block;
    position: relative; }
    .header__item--float-left {
      float: left;
      margin-right: 30px; }
    .header__item--float-right {
      float: right;
      margin-left: 30px; }
  .header__link {
    text-decoration: none;
    color: #555555; }
    .header__link::after {
      content: "";
      width: 30px;
      height: 1px;
      background-color: #5363db;
      position: absolute;
      top: 25px;
      left: 50%;
      -webkit-transform: translate(-50%, 0);
      -ms-transform: translate(-50%, 0);
      transform: translate(-50%, 0);
      opacity: 0; }
    .header__link:hover {
      color: #5363db;
      -webkit-transition: all 0.5s;
      transition: all 0.5s; }
      .header__link:hover::after {
        -webkit-transition: all 0.5s;
        transition: all 0.5s;
        opacity: 1; }

.banner {
  margin-top: 99px;
  background: url(../assets/images/banner_bg.png) no-repeat, #5363db;
  background-position-x: -295px; }
  .banner__color {
    background: rgba(83, 99, 219, 0.9);
    height: 100%;
    padding-top: 1px; }

.callback {
  width: 300px;
  height: 390px;
  background: #fff;
  -webkit-border-radius: 15px;
          border-radius: 15px;
  margin-top: 100px;
  margin-left: 240px;
  margin-bottom: 110px;
  margin-right: 95px;
  padding: 35px 40px 35px 30px;
  float: left; }
  .callback__title {
    font-size: 26px;
    color: #5363db;
    text-align: left;
    margin-bottom: 25px; }
  .callback__form {
    text-align: right; }
  .callback__input {
    width: 100%;
    margin-bottom: 17px;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    background: #f2f2f2;
    border: none;
    padding: 15px 10px; }
    .callback__input[placeholder] {
      font-size: 14px;
      font-family: "Open Sans"; }
    .callback__input option {
      font-size: 14px;
      font-family: "Open Sans"; }
  .callback__button {
    margin-top: 13px;
    text-align: right;
    width: 170px;
    height: 50px;
    -webkit-border-radius: 6px;
            border-radius: 6px;
    border: none;
    text-align: center;
    background: #5b6ceb;
    color: #fff;
    font-size: 16px;
    font-family: "Open Sans";
    font-weight: 700; }
    .callback__button:hover {
      cursor: pointer; }

.slogan {
  float: left;
  max-width: 490px;
  margin-top: 150px;
  color: #fff; }
  .slogan__title {
    text-transform: uppercase;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.7;
    margin-bottom: 20px; }
  .slogan__text {
    font-family: "Freestyle Script";
    font-size: 40px; }

.programs {
  height: 1030px;
  padding-top: 125px;
  padding-bottom: 80px;
  color: #777; }
  .programs__title {
    text-transform: uppercase;
    color: #5b6ceb;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
    text-align: center; }
  .programs__subtitle {
    font-family: 'Freestyle Script';
    font-size: 41px;
    text-align: center; }
  .programs__wrapper {
    margin-top: 75px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap; }

.card {
  width: 48%;
  height: 300px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  padding-left: 300px;
  padding-top: 45px;
  padding-right: 15px;
  padding-bottom: 45px;
  background-size: 47% 100%;
  text-align: left;
  font-size: 14px;
  margin-bottom: 50px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }
  .card--photo-health {
    background: url(../assets/images/health.jpg) no-repeat left top; }
  .card--photo-weight {
    background: url(../assets/images/weight.jpg) no-repeat left top; }
  .card--photo-children {
    background: url(../assets/images/children.jpg) no-repeat left top; }
  .card--photo-elderly {
    background: url(../assets/images/elderly.jpg) no-repeat left top; }
  .card__title {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 35px; }
  .card__text {
    margin-bottom: 15px;
    color: #555555;
    max-width: 223px; }
  .card__author {
    color: #999999; }

.gallery {
  font-size: 0; }
  .gallery__link {
    display: inline-block;
    width: 25%;
    max-height: 208px;
    overflow: hidden;
    position: relative; }
    .gallery__link:hover .gallery__link-bg {
      opacity: 1; }
  .gallery__image {
    width: 100%;
    height: auto;
    max-height: 208px;
    min-height: 208px; }
  .gallery__link-bg {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(83, 99, 219, 0.8);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .gallery__look-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    background: url(../assets/images/look-icon.png) no-repeat center center, #fff; }

.about {
  padding-top: 125px;
  padding-bottom: 125px;
  text-align: left; }
  .about__description {
    width: 50%;
    float: left; }
  .about__title {
    text-transform: uppercase;
    color: #5b6ceb;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px; }
  .about__text {
    font-size: 14px;
    color: #555555;
    max-width: 470px;
    line-height: 1.6; }
  .about .slider {
    width: 570px;
    height: 300px;
    float: right;
    -webkit-border-radius: 7px;
            border-radius: 7px;
    -webkit-box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 15px 6px rgba(0, 0, 0, 0.15); }
    .about .slider .slick-arrow {
      cursor: pointer;
      position: absolute;
      text-indent: -99999px;
      border: none;
      width: 50px;
      height: 50px;
      top: 50%;
      z-index: 4;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
      box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1); }
    .about .slider .slick-next {
      right: -25px;
      background: url("../assets/images/slick-next.png") no-repeat center center, #fff; }
    .about .slider .slick-prev {
      left: -25px;
      background: url("../assets/images/slick-prev.png") no-repeat center center, #fff; }
  .about .slick-slider img {
    width: 570px;
    height: 300px;
    -webkit-border-radius: 7px;
            border-radius: 7px; }

.elements {
  color: #fff;
  background: url(../assets/images/elements_bg.png) no-repeat center center;
  background-size: cover; }
  .elements__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
            flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between; }
  .elements__color {
    background: rgba(83, 99, 219, 0.9);
    height: 100%;
    padding-top: 1px;
    padding-top: 125px;
    padding-bottom: 75px;
    display: -webkit-box;
    display: -ms-flexbox; }

.advantage {
  padding-top: 100px;
  margin-bottom: 50px;
  width: 23%;
  background: red;
  font-weight: 700;
  text-align: center; }
  .advantage--health {
    background: url(../assets/images/health.png) no-repeat center top; }
  .advantage--concentration {
    background: url(../assets/images/concentration.png) no-repeat center top; }
  .advantage--mind {
    background: url(../assets/images/mind.png) no-repeat center top; }
  .advantage--sleep {
    background: url(../assets/images/sleep.png) no-repeat center top; }
  .advantage--weight {
    background: url(../assets/images/weight.png) no-repeat center top; }
  .advantage--bones {
    background: url(../assets/images/bones.png) no-repeat center top; }
  .advantage--flex {
    background: url(../assets/images/flex.png) no-repeat center top; }
  .advantage--blood {
    background: url(../assets/images/blood.png) no-repeat center top; }
  .advantage__title {
    text-transform: uppercase;
    margin-bottom: 25px; }
    .advantage__title--margin {
      margin-bottom: 55px; }
  .advantage__text {
    font-size: 16px;
    font-weight: 400; }

.shop {
  min-height: 1150px;
  background: url(../assets/images/shop_bg.png) no-repeat right bottom;
  padding-bottom: 165px;
  padding-top: 100px; }
  .shop__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
            justify-content: space-between;
    margin-bottom: 100px; }

.order {
  text-transform: uppercase;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  -webkit-box-shadow: 0 0 50px 9px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 50px 9px rgba(0, 0, 0, 0.1);
  width: 31%;
  overflow: hidden;
  text-align: center;
  padding-bottom: 40px;
  background: #fff; }
  .order__header {
    width: 100%;
    height: 150px;
    background: #5b6ceb;
    color: #fff;
    padding-top: 25px;
    padding-bottom: 50px;
    font-weight: 700;
    margin-bottom: 50px; }
    .order__header span:first-child {
      font-size: 32px;
      word-spacing: 10px;
      position: relative;
      top: -10px; }
    .order__header span:nth-child(2) {
      font-size: 67px; }
    .order__header p {
      position: relative;
      -webkit-transition: all 0.2s;
      transition: all 0.2s; }
  .order__form label {
    display: block; }
  .order__form input {
    margin-bottom: 20px;
    border: none;
    border-bottom: 1px solid #d7d7d7;
    width: 100px; }
  .order__form p {
    margin-bottom: 45px; }
  .order__btn {
    width: 170px;
    height: 50px;
    background: #5b6ceb;
    -webkit-border-radius: 15px;
            border-radius: 15px;
    border: none;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    -webkit-transition: all 0.2s;
    transition: all 0.2s; }
  .order__btn:hover {
    font-size: 20px;
    font-weight: 700;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2); }
  .order .hover {
    text-shadow: 8px 8px 2px #000;
    top: -8px;
    left: -8px; }

.reviews {
  background: #fff;
  padding-top: 35px;
  padding-bottom: 35px;
  -webkit-border-radius: 7px;
          border-radius: 7px;
  -webkit-box-shadow: 0 0 50px 9px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 50px 9px rgba(0, 0, 0, 0.1);
  position: relative; }
  .reviews .vertical-center {
    width: 960px;
    margin-left: 60px; }
  .reviews .slick-slide {
    height: 175px;
    width: 100%; }
  .reviews .slick-dots {
    width: 200px;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    right: -185px;
    top: -25px; }
    .reviews .slick-dots button {
      border: 2px solid #d7d7d7;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
      .reviews .slick-dots button:before {
        display: none; }
    .reviews .slick-dots .slick-active button {
      border: 2px solid #5b6ceb;
      -webkit-border-radius: 50%;
              border-radius: 50%; }
      .reviews .slick-dots .slick-active button:before {
        content: "";
        display: block;
        -webkit-border-radius: 50%;
                border-radius: 50%;
        top: 5px;
        left: 5px;
        width: 10px;
        height: 10px;
        background: #5b6ceb; }
  .reviews .slick-slider {
    margin-bottom: 0; }
  .reviews__avatar-border {
    width: 150px;
    height: 150px;
    -webkit-border-radius: 50%;
            border-radius: 50%;
    float: left;
    border: 2px solid #dadada;
    margin-right: 90px;
    position: relative; }
    .reviews__avatar-border:after {
      content: "";
      position: absolute;
      width: 2px;
      height: 75px;
      background: #dadada;
      bottom: 0;
      right: -50px; }
  .reviews__avatar {
    -webkit-border-radius: 50%;
            border-radius: 50%;
    margin: 10px; }
  .reviews blockquote {
    font-size: 14px;
    font-style: italic;
    line-height: 1.7;
    padding-top: 10px;
    position: relative;
    margin-bottom: 25px; }
    .reviews blockquote span:first-child {
      position: absolute;
      color: #5b6ceb;
      font-size: 60px;
      top: -10px;
      left: 185px; }
    .reviews blockquote span:last-child {
      position: absolute;
      color: #5b6ceb;
      font-size: 60px;
      bottom: -60px;
      right: 0px; }
  .reviews .slick-arrow {
    z-index: -100; }
  .reviews__author {
    color: #5b6ceb;
    font-size: 14px;
    font-weight: 700;
    font-style: normal; }
    .reviews__author span {
      font-size: 14px;
      color: #777777;
      font-weight: 400; }
  .reviews .small-slider {
    position: absolute;
    width: 230px;
    bottom: -37px;
    height: 75px;
    left: 330px; }
    .reviews .small-slider .slick-slide {
      width: 220px;
      height: 75px;
      padding: 0 15px; }
    .reviews .small-slider .slick-arrow {
      z-index: 2;
      cursor: pointer;
      position: absolute;
      text-indent: -99999px;
      border: none;
      width: 30px;
      height: 30px;
      top: 50%;
      z-index: 4;
      -webkit-border-radius: 50%;
              border-radius: 50%;
      -webkit-box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1);
      box-shadow: 6px 6px 9px rgba(0, 0, 0, 0.1); }
    .reviews .small-slider .slick-next {
      right: -30px;
      background: url("../assets/images/slick-next.png") no-repeat center center, #fff; }
    .reviews .small-slider .slick-prev {
      left: -30px;
      background: url("../assets/images/slick-prev.png") no-repeat center center, #fff; }
    .reviews .small-slider img {
      -webkit-border-radius: 50%;
              border-radius: 50%;
      border: 2px solid #dadada;
      margin-right: 20px;
      width: 70px;
      height: 70px;
      float: left; }
    .reviews .small-slider p {
      font-weight: 700;
      font-size: 14px;
      color: #555555;
      padding-top: 15px; }
      .reviews .small-slider p span {
        font-weight: normal; }

.footer {
  background: #5b6ceb;
  color: #fff;
  text-align: left; }
  .footer__data {
    padding-top: 100px;
    padding-bottom: 100px; }
  .footer__aboutus {
    width: 50%;
    float: left; }
  .footer__contact {
    width: 50%;
    float: left;
    line-height: 1.6; }
  .footer__title {
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 55px; }
  .footer__text {
    font-size: 14px;
    margin-bottom: 70px;
    line-height: 1.6;
    max-width: 550px; }
  .footer__social-icons {
    width: 180px;
    text-align: justify; }
  .footer__link {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-size: cover; }
    .footer__link--pinterest {
      background: url(../assets/images/pinterest.png) no-repeat center center; }
    .footer__link--twitter {
      background: url(../assets/images/twitter.png) no-repeat center center; }
    .footer__link--facebook {
      background: url(../assets/images/facebook.png) no-repeat center center; }
    .footer__link--googleplus {
      background: url(../assets/images/googleplus.png) no-repeat center center; }
    .footer__link--instagram {
      background: url(../assets/images/instagram.png) no-repeat center center; }
  .footer__connect {
    float: left;
    width: 50%;
    font-size: 14px; }
  .footer__address {
    padding-left: 40px;
    background: url(../assets/images/marker.png) no-repeat left 5px;
    margin-bottom: 30px; }
    .footer__address-link {
      text-decoration: none;
      color: #fff; }
  .footer__tel {
    padding-left: 40px;
    background: url(../assets/images/phone.png) no-repeat left 5px; }
    .footer__tel-link {
      text-decoration: none;
      color: #fff; }
  .footer__mail {
    margin-bottom: 55px;
    padding-left: 40px;
    background: url(../assets/images/mail.png) no-repeat left center; }
    .footer__mail-link {
      text-decoration: none;
      color: #fff; }
  .footer__web {
    padding-left: 40px;
    background: url(../assets/images/planet.png) no-repeat left center; }
    .footer__web-link {
      text-decoration: none;
      color: #fff; }
  .footer__copyright {
    background: #5363d8;
    padding-top: 45px;
    padding-bottom: 45px;
    text-align: center; }
    .footer__copyright span {
      font-size: 16px;
      opacity: 0.7; }
    .footer__copyright p {
      margin-top: 40px;
      min-height: 40px;
      background: url(../assets/images/copy-logo.png) no-repeat center center; }
