.about {
	padding-top: 125px;
	padding-bottom: 125px;
	text-align: left;
	&__description {
		width: 50%;
		float: left;
	}
	&__title {
		text-transform: uppercase;
		color: $blue;
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 30px;
	}
	&__text {
		font-size: 14px;
		color: #555555;
		max-width: 470px;
		line-height: 1.6;
	}
	.slider {
		width: 570px;
		height: 300px;
		float: right;
		border-radius: 7px;
		-webkit-box-shadow: 0 0 15px 6px rgba(0,0,0,0.15);
		        box-shadow: 0 0 15px 6px rgba(0,0,0,0.15);
		.slick-arrow {
			cursor: pointer;
		    position: absolute;
		    text-indent: -99999px;
		    border: none;
		    width: 50px;
		    height: 50px;
		    top: 50%;
		    z-index: 4;
		    border-radius: 50%;
		    -webkit-box-shadow: 6px 6px 9px rgba(0,0,0,0.1);
		        box-shadow: 6px 6px 9px rgba(0,0,0,0.1);
		}
		.slick-next {
		    right: -25px;
		    background: url("../assets/images/slick-next.png") no-repeat center center, #fff;
		}
		.slick-prev {
		    left: -25px;
		    background: url("../assets/images/slick-prev.png") no-repeat center center, #fff;
		}
	}
	.slick-slider img {
		width: 570px;
		height: 300px;
		border-radius: 7px;
	}
		@media (max-width: 1300px) {
		.slider {
			margin-right: 15px;
		}
	}
	@include desktop-widths {
		.slider {
			width: 45%;
			margin-right: 20px;
			.slick-arrow {
				width: 40px;
				height: 40px;
			}
			.slick-next {
				right: -15px;
			}
			.slick-prev {
				left: -15px;
			}
		}
		&__description {
			width: 45%;
		}
		.slick-slider img {
			width: 100%;
		}
	}
	@include tablet-widths {
		padding-top: 90px;
		padding-bottom: 90px;
		&__description {
			width: 45%;
		}
		.slider {
			height: 225px;
		}
		.slick-slider img {
			height: 225px;
		}
	}
	@include mobile-widths {
		padding-top: 55px;
		&__description {
			width: 100%;
			float: none;
		}
		&__title {
			text-align: center;
		}
		&__text {
			margin-left: auto;
		    margin-right: auto;
		    margin-bottom: 55px;
		}
		.slider {
			float: none;
			margin-left: auto;
			margin-right: auto;
			width: 90%; 
		}
	}
	@include extra-small-widths {
		padding-top: 30px;
		&__text {
			text-align: justify;
		}
	}
}