.banner {
	margin-top: 99px;
	background: url(../assets/images/banner_bg.png) no-repeat, #5363db;
	background-position-x: -295px;
	&__color {
		background: rgba(83, 99, 219, 0.9);
		height: 100%;
		padding-top: 1px;
	}
}