.elements {
	color: #fff;
	background: url(../assets/images/elements_bg.png) no-repeat center center;
	background-size: cover;
	&__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
		 -webkit-box-pack: justify;
		     -ms-flex-pack: justify;
		         justify-content: space-between;
	}
	&__color {
		background: rgba(83, 99, 219, 0.9);
		height: 100%;
		padding-top: 1px;
		padding-top: 125px;
		padding-bottom: 75px;
		display: -webkit-box;
		display: -ms-flexbox;
	}
	@include desktop-widths {
		background-position-x: -640px;
	}
	@include tablet-widths {
		    background-position-x: -770px;
		&__color {
			padding-top: 70px;
			padding-bottom: 35px;
		}
	}
	@include mobile-widths {
		background-size: auto 100%;
		background-position: center;
	    background-position-x: -1510px;
		&__color {
			padding-bottom: 15px;
		}
	}
	@media (max-width: 499px) {
		background-position-x: -1725px;
	}
	@include extra-small-widths {
		background-position-x: -2775px;
		&__color {
			padding-top: 30px;
		}
		br {
			display: none;
		}
	}
}