.order {
	text-transform: uppercase;
	border-radius: 7px;
	-webkit-box-shadow: 0 0 50px 9px rgba(0,0,0,0.10);
	        box-shadow: 0 0 50px 9px rgba(0,0,0,0.10);
	width: 31%;
	overflow: hidden;
	text-align: center;
	padding-bottom: 40px;
	background: #fff;
	&__header {
		width: 100%;
		background: $blue;
		color: #fff;
		padding-top: 25px;
		padding-bottom: 33px;
		font-weight: 700;
		margin-bottom: 50px;
		span:first-child {
			font-size: 32px;
			word-spacing: 10px;
			position: relative;
			top: -10px;
		}
		span:nth-child(2) {
			font-size: 67px;
		}
		p {
		position: relative;
			-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		}
	}
	&__form {
		label {
			display: block;
		}
		input {
			margin-bottom: 20px;
			border: none;
			border-bottom: 1px solid #d7d7d7;
			width: 100px;
		}
		p {
			margin-bottom: 45px;
		}
	}
	&__btn {
		width: 170px;
		height: 50px;
		background: $blue;
		border-radius: 15px;
		border: none;
		color: #fff;
		font-weight: 600;
		cursor: pointer;
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
	}
	&__btn:hover {
		font-size: 20px;
		font-weight: 700;
		-webkit-transform: scale(1.2);
		    -ms-transform: scale(1.2);
		        transform: scale(1.2);
		
	}
	.hover {
		text-shadow: 8px 8px 2px #000;
		top: -8px;
		left: -8px;
	}
	@include mobile-widths {
		width: 100%;
		max-width: 425px;
		margin: 0 auto;
		margin-bottom: 40px;
	}
	@include extra-small-widths {
		&__header {
			padding-top: 15px;
		    padding-bottom: 20px;
		    margin-bottom: 20px;
			span:nth-child(2) {
				font-size: 50px;
			}
		}
		&__form {
			p {
				margin-bottom: 25px;
			}
		}
	}
}