.programs {
	padding-top: 125px;
	padding-bottom: 30px;
	color: #777;
	&__title {
		text-transform: uppercase;
		color: $blue;
		font-size: 30px;
		font-weight: 700;
		margin-bottom: 15px;
		text-align: center;
	}
	&__subtitle {
		font-family: 'Freestyle Script';
		font-size: 41px;
		text-align: center;
	}
	&__wrapper {
		margin-top: 75px;
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: horizontal;
		-webkit-box-direction: normal;
		    -ms-flex-direction: row;
		        flex-direction: row;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		-ms-flex-wrap: wrap;
		    flex-wrap: wrap;
	}
	@include tablet-widths {
		padding-top: 65px;
	}
	@include extra-small-widths {
		padding-top: 25px;
		&__wrapper {
			margin-top: 45px;
		}
		&__title {
			font-size: 25px;
		}
	}
}