.shop {
	min-height: 1150px;
	background: url(../assets/images/shop_bg.png) no-repeat right bottom;
	padding-bottom: 165px;
	padding-top: 100px;
	&__wrapper {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		    -ms-flex-pack: justify;
		        justify-content: space-between;
		margin-bottom: 100px;
	}
	@include desktop-widths {
		background-size: 60%;
	}
	@include tablet-widths {
		min-height: 100%;
		padding-bottom: 125px;
	}
	@include mobile-widths {
		padding-top: 55px;
		&__wrapper {
			-webkit-box-orient: vertical;
			-webkit-box-direction: normal;
			    -ms-flex-direction: column;
			        flex-direction: column;
			margin-bottom: 55px;
		}
	}
	@include extra-small-widths {
		&__wrapper {
			margin-bottom: 25px;
		}
	}
}